@page "/"

<PageTitle>MenuTask</PageTitle>

<h1>Hello, this my menu</h1>
<span>Днная конфигурация содержит в себе меню, состоящее из двух пунктов:</span> 
<ol>
    <li>Новости</li>
     <li>Обучение</li>
</ol>

<span>Каждый пункт содержит в себе ссылку на сторонний ресурс.</span>


